NEXT_PUBLIC_SUPABASE_URL=https://rcaaqjvqpcpkzvuswunf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_VIDEO_BUCKET=morphly-generated-videos
ADMIN_EMAILS=samuellucky2424@gmail.com

RUNPOD_ENDPOINT_ID=qqlt640ds63arb
RUNPOD_API_KEY=your_runpod_api_key
RUNPOD_WEBHOOK_SECRET=your_runpod_webhook_secret

FLW_PUBLIC_KEY=your_flutterwave_public_key
FLW_SECRET_KEY=your_flutterwave_secret_key
FLW_SECRET_HASH=your_flutterwave_webhook_secret_hash

APP_URL=http://localhost:3000
CRON_SECRET=your_cron_secret
